attrs
certifi
charset-normalizer
contourpy
cycler
einops
exceptiongroup
filelock
fonttools
huggingface-hub
idna
iniconfig
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
pluggy
pyparsing
pytest
python-dateutil
PyYAML
regex
requests
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tokenizers
tomli
torchaudio
torchmetrics
torchvision
tqdm
transformers
typing_extensions
urllib3
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git

python-magic
seaborn
humanize